<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVVrUNEQpHuHn10El5PSnb6NwuzCSiFxA</string>
	<key>GCM_SENDER_ID</key>
	<string>987374903234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitiz</string>
	<key>PROJECT_ID</key>
	<string>fitiz-6d656</string>
	<key>STORAGE_BUCKET</key>
	<string>fitiz-6d656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987374903234:ios:8fb82b5d6327ed9a58005b</string>
</dict>
</plist>